In [13]:
%reload_ext sql

In [14]:
%%sql postgresql://superuser:superuserpass@localhost/app
        select * from api.todos;

3 rows affected.

[(1, 'up1', False, None),
 (3, 'item_3', False, None),
 (6, 'item_6', False, None)]

In [15]:
%sql select 1;

1 rows affected.

[(1,)]

In [16]:
import os
os.getcwd()

'/Users/mertnuhoglu/projects/study/py/jupyter'

In [22]:
import anosql
import psycopg2
import sqlite3

# PostgreSQL
conn = psycopg2.connect('postgresql://superuser:superuserpass@localhost/app')
queries = anosql.load_queries('postgres', 'sql/study01.sql')
queries.select1(conn)

[(1,)]

In [23]:
queries.select2(conn)

[(2,)]

In [27]:
with open('sql/study01.sql', 'r') as fin:
    print(fin.read())

-- name: select1
SELECT 1;

-- name: select2
SELECT 2;

In [31]:
%sql \dn

(psycopg2.ProgrammingError) syntax error at or near "\"
LINE 1: \dn
        ^
 [SQL: '\\dn']